@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hr {
  border-bottom: 1px grey;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-size: 14px;
}
.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0a337a;
  width: 100%;
  height: 70px;
  color: #fff;
}
.main-nav .logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-nav .logo .icon {
  font-size: 40px;
}
.main-nav .logo h1 {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: normal;
  margin-left: 10px;
}
.main-nav .search-box {
  position: relative;
}
.main-nav .search-box .search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  font-size: 26px;
}
.main-nav input {
  width: 120%;
  background-color: #fff;
  padding: 15px 55px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.main-nav .nav-links {
  width: 25%;
}
.main-nav .nav-links ul {
  display: flex;
  justify-content: space-around;
}
.main-nav .nav-links ul li {
  list-style: none;
  transition: 0.5s;
}
.main-nav .nav-links ul li .links {
  text-decoration: none;
  color: #fff;
}
.main-nav .nav-links ul .nav-icons {
  font-size: 30px;
}
.main-nav .nav-links ul li:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

/* /////------dashboard styling--------/////// */
.main-dash {
  display: flex;
  padding: 50px 150px;
  background-color: #f5f5f5;
  /* background-color: #f9f3f3; */
  font-family: "Poppins";
}
.main-dash .first-col {
  flex-basis: 18%;
  margin: 0 20px;
}
.first-col .first-row {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.first-col .first-row h3 {
  margin: 12px;
  text-transform: uppercase;
  font-size: 13px;
  color: #171717;
}
.first-col .first-row p {
  text-decoration: underline;
  margin: 8px 18px;
  font-size: 12px;
}
.first-col .second-row {
  margin-top: 30px;
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.first-col .second-row h3 {
  color: #171717;
  margin: 15px;
  font-size: 16px;
}
.first-col .second-row img {
  margin: 12px 10px;
}
.first-col .second-row .social-icons {
  background-color: #f9f3f3;
}
.main-dash .second-col {
  flex-basis: 55%;
  border: 2px solid;
  margin: 0 20px;
}
.main-dash .third-col {
  flex-basis: 25%;
  margin: 0 20px;
}
.main-dash .third-col .profile-icon {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.main-dash .third-col .profile-icon img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
}
.main-dash .third-col .profile-icon h4 {
  text-align: center;
  margin-top: 20px;
  color: #363535;
}
.main-dash .third-col .profile-icon p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #414040;
}
.main-dash .third-col .profile-info {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.third-col .profile-info {
  display: flex;
  justify-content: space-between;
}
.third-col .profile-info p {
  margin: 10px 15px;
  font-size: 14px;
}
.third-col .profile-info .span {
  font-weight: 600;
  color: #414bff;
}

.custom-file-input {
  margin: 14px 8px;
  color: transparent;
  width: 100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Resume";
  color: #fff;
  font-size: 18px;
  display: inline-block;
  background-image: linear-gradient(
    179deg,
    rgb(23, 202, 214) 5%,
    rgb(23, 154, 165) 117%
  );
  border-radius: 5px;
  padding: 12px 68px;
  outline: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
}
.custom-file-input:hover::before {
  border: none;
}
.custom-file-input:active {
  outline: none;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.third-col .resume {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
}
.third-col .resume h4 {
  padding: 20px 20px 0;
  color: #363535;
}
.third-col .resume p {
  font-size: 12px;
  color: grey;
  margin: 0 20px 0px;
}
.third-col .terms {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}
.third-col .terms span {
  font-size: 12px;
  margin: 10px 6px;
  color: black;
}
.third-col .terms p {
  font-size: 13px;
  margin-left: 8px;
  color: #414bff;
}
.third-col .terms .mail {
  color: grey;
  margin-left: 10px;
}
.third-col .terms h4,
.third-col .terms .icon {
  margin-right: 8px;
  color: #0a337a;
}
