@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hr {
  border-bottom: 1px grey;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-size: 14px;
}
.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #0a337a; */
  background-color: #ff6b6b;
  width: 100%;
  height: 70px;
  color: #fff;
}
.main-nav .logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-nav .logo .icon {
  font-size: 40px;
}
.main-nav .logo h1 {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: normal;
  margin-left: 10px;
}
.main-nav .search-box {
  position: relative;
}
.main-nav .search-box .search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  font-size: 26px;
}
.main-nav input {
  width: 120%;
  background-color: #fff;
  padding: 15px 55px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.main-nav .nav-links {
  width: 25%;
}
.main-nav .nav-links ul {
  display: flex;
  justify-content: space-around;
}
.main-nav .nav-links ul li {
  list-style: none;
  transition: 0.5s;
}
.main-nav .nav-links ul li .links {
  text-decoration: none;
  color: #fff;
}
.main-nav .nav-links ul .nav-icons {
  margin-top: 14px;
  font-size: 25px;
}
.main-nav .nav-links ul li:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

/* /////------dashboard styling--------/////// */
.main-dash {
  padding: 50px 100px;
  background-color: #f5f5f5;
  font-family: "Poppins";
}
.main-dash .first-col {
  margin: 0 10px;
}
.first-col .first-row {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.first-col .first-row h3 {
  margin: 12px;
  text-transform: uppercase;
  font-size: 13px;
  color: #171717;
}
.first-col .first-row p {
  text-decoration: underline;
  margin: 8px 18px;
  font-size: 12px;
}
.first-col .second-row {
  margin-top: 30px;
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.first-col .second-row h3 {
  color: #171717;
  margin: 10px;
  font-size: 14px;
}
.first-col .second-row img {
  margin: 10px 9px;
}

/* ////-------SECOND COLUMN-----/// */

.main-dash .second-col {
  margin: 0 10px;
}
.second-col .updates {
  border: 1px solid rgba(117, 115, 115, 0.5);
  margin-top: 20px;
  border-radius: 4px;
  background-color: #fff;
}
.second-col .update-resume:hover {
  box-shadow: 1px 1px 6px 1px gray;
  cursor: pointer;
}
.second-col .updates p {
  margin: 10px 20px;
  font-family: sans-serif;
}
.second-col .update-resume {
  border: 1px solid rgba(117, 115, 115, 0.5);
  border-radius: 5px;
  margin: 20px 30px;
  padding: 10px;
}
.second-col .update-resume span {
  margin-left: 50px;
  padding: 6px;
  background-color: rgba(214, 210, 210, 0.247);
  color: grey;
  border-radius: 5px;
  font-size: 14px;
}
.second-col .update-resume h6 {
  color: #0a337a;
  font-weight: 500;
  margin-top: 8px;
}
.second-col .update-resume p {
  margin-left: 0;
  margin-top: -6px;
  font-size: 13px;
  color: gray;
}

.second-col .job {
  border: 1px solid rgba(117, 115, 115, 0.5);
  margin-top: 10px;
  background-color: #fff;
  padding: 15px;
}

.second-col .job-cards {
  border: 1px solid rgba(117, 115, 115, 0.5);
  margin-top: 10px;
  padding: 6px;
  border-radius: 5px;
  height: 280px;
}
.second-col .job-cards:hover {
  box-shadow: 1px 1px 6px 1px gray;
  cursor: pointer;
}
.second-col .job-cards .icons {
  margin-left: 210px;
  color: #ff6b6b;
}
.second-col .job-cards img {
  width: 70px;
  margin: 10px 100px;
}
.second-col .job-cards h6 {
  text-align: center;
}
.second-col .job-cards p {
  text-align: center;
  font-size: 12px;
  color: grey;
}
.second-col .job-cards button {
  background-color: #fff;
  border: 1px solid #ff5656;
  border-radius: 6px;
  margin-left: 60px;
  padding: 10px 40px;
  font-weight: 600;
  color: #ff6b6b;
}
.second-col .job-cards button:hover {
  background-color: #fcafaf77;
}

/* /////---THIRD COLUMN---//// */

.main-dash .third-col {
  margin: 0 10px;
}
.main-dash .third-col .profile-icon {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.main-dash .third-col .profile-icon img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
}
.main-dash .third-col .profile-icon h4 {
  text-align: center;
  margin-top: 20px;
  color: #363535;
}
.main-dash .third-col .profile-icon p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #414040;
}
.main-dash .third-col .profile-info {
  border: 1px solid rgba(117, 115, 115, 0.5);
  background-color: #fff;
}
.third-col .profile-info {
  display: flex;
  justify-content: space-between;
}
.third-col .profile-info p {
  margin: 10px 15px;
  font-size: 14px;
}
.third-col .profile-info .span {
  font-weight: 600;
  color: #ff6b6b;
}

.custom-file-input {
  margin: 14px 60px;
  color: transparent;
  width: 60%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Resume";
  color: #fff;
  font-size: 16px;
  display: inline-block;
  /* background-image: linear-gradient(
    179deg,
    rgb(23, 202, 214) 5%,
    rgb(23, 154, 165) 117%
  ); */
  background-image: linear-gradient(170deg, #fdd2bf 5%, #ff6b6b 117%);
  border-radius: 5px;
  padding: 12px 18px;
  outline: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
}
.custom-file-input:hover::before {
  border: none;
}
.custom-file-input:active {
  outline: none;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.third-col .resume {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
}
.third-col .resume h4 {
  padding: 20px 20px 0;
  font-size: 16px;
  color: #363535;
}
.third-col .resume p {
  font-size: 12px;
  color: grey;
  margin: 0 20px 0px;
}
.third-col .terms {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}
.third-col .terms span {
  font-size: 12px;
  margin: 10px 6px;
  color: black;
}
.third-col .terms p {
  font-size: 13px;
  margin-left: 8px;
  color: #414bff;
}
.third-col .terms .mail {
  color: grey;
  margin-left: 10px;
}
.third-col .terms h4,
.third-col .terms .icon {
  margin-right: 8px;
  color: #ff6b6b;
}

/* /////-----Filter---//// */
.first-col .filter {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
  padding: 10px;
  margin-bottom: 20px;
}
.first-col .filter label {
  font-size: 16px;
}
.first-col .filter h4 {
  font-size: 14px;
  color: grey;
}
.first-col .filter p {
  font-size: 15px;
}
.first-col .filter span {
  margin: 0 0 0 50px;
  cursor: pointer;
}

/* //----Saved Jobs---/// */
.second-col .saved-jobs {
  background-color: #fff;
  border: 1px solid rgba(117, 115, 115, 0.5);
  padding: 30px 50px;
  text-align: center;
}
.second-col .saved-jobs img {
  width: 350px;
  height: 350px;
}
.second-col .saved-jobs p {
  font-size: 16px;
  font-weight: 500;
}
.second-col .saved-jobs button {
  cursor: pointer;
  color: #fff;
  border: none;
  background-image: linear-gradient(170deg, #fdd2bf 5%, #ff6b6b 117%);
  padding: 10px 30px;
  border-radius: 5px;
}

@media (max-width: 990px) {
  .main-dash {
    padding: 50px 50px;
  }
  .first-col .first-row {
    text-align: center;
  }
  .first-col .second-row {
    text-align: center;
  }
  .second-col .update-resume {
    width: 70%;
  }
  .second-col .job-cards .icons {
    margin-left: 480px;
  }
}
@media (max-width: 486px) {
  .second-col .job-cards .icons {
    margin-left: 200px;
  }
  .main-dash {
    padding: 10px;
  }
}
